DISCORD_TOKEN=
DISCORD_APPLICATION_ID=

#should have type == token
OAUTH_AUTHORIZE_URL=

POLL_INTERVAL=10
STALE_AFTER=30
LIMIT=5

METRICS_PORT=8000
SENTRY_DSN=
SENTRY_ENVIRONMENT=production
SENTRY_TRACES_SAMPLE_RATE=0